/* --------- btn --------- */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17.8286px 26.7429px;
  background: #6c5fbc;
  border-radius: 17.8286px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.8286px;
  line-height: 27px;
  color: #f9f9f9;
  white-space: nowrap;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: $activeColor;
      background-color: $activeColor;
    }
  }

  &:active {
    border-color: $activeColor;
    background-color: $activeColor;
  }

  &.focus-visible {
    border-color: red;
    color: #fff;
    background-color: $activeColor;
  }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
