.load {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0px 0px 120px 0px;
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 100px;
    justify-items: center;
    align-items: center;
  }
  &__image {
    grid-column: 2 / 5 span;
    justify-self: start;

    @media (max-width:$md4){
      grid-column: 12 span;
      text-align: center;
      justify-self: center;
      order: 1;
      max-width: 70%;
      margin: 0px 0px 0px 50px;
   }
  }
  &__img {
  }
  &__content {
    max-width: 560px;
    grid-column: 6 span;
    align-self: center;
    justify-self: end;

    @media (max-width:$md4){
       grid-column: 12 span;
       order: 0;
    }
  }
  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 50.923px;
    line-height: 58px;
    text-transform: capitalize;
    color: #18181b;
    margin: 0px 0px rem(63) 0px;
  }
  &__list {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20.335px;
    line-height: 1.55;
    color: #676767;

    margin: 0px 0px rem(61) 0px;
  }
  &__item {
    margin: 0px 0px rem(28) 0px;
    list-style-type: initial;
    padding-left: 20px;
    margin-left: 20px;

  }
}
