<header class="header">
  <div class="header__container">
    <div class="header__wrap">
      <a href="#" class="header__logo">
        <img
          loading="lazy"
          src="img/logo.svg"
          class="logo"
          alt="logo Eatly"
        />
        <span class="header__title">eatly</span>
      </a>
      <nav class="header__menu menu__body">
        <ul class="header__list">
          <li class="header__item"><a class="link" href="#">Menu</a></li>
          <li class="header__item"><a class="link" href="#">Blog</a></li>
          <li class="header__item"><a class="link" href="#">Pricing</a></li>
          <li class="header__item"><a class="link" href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="menu__icon icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header__privat">
        <a href="#" class="header__login btn btn-around">login</a>
        <a href="#" class="header__sign btn">sign up</a>
      </div>
    </div>
  </div>
</header>
