<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <p class="hero__note">OVER 1000 USERS</p>
      <h1 class="hero__title">Enjoy Foods All Over The <span>World</span></h1>
      <p class="hero__desc">EatLy help you set saving goals, earn cash back offers, Go to disclaimer for more details and get paychecks up to two days early. Get a $20 bonus.</p>
      <div class="hero__btns">
        <a href="#" class="hero__btn btn">Get Started</a>
        <a href="#" class="hero__btn btn btn-around btn-hero">Go Pro</a>
      </div>
      <div class="hero__pop">
        <div class="hero__name" style="background-image: url(./img/svg/star.svg);"></div>
        <div class="hero__trust">
          <ul class="hero__stars">
            <li class="hero__star"><img src="./img/svg/star-feel.svg" alt="Рейтинг приложения 5 из 5"></li>
            <li class="hero__star"><img src="./img/svg/star-feel.svg"></li>
            <li class="hero__star"><img src="./img/svg/star-feel.svg"></li>
            <li class="hero__star"><img src="./img/svg/star-feel.svg"></li>
            <li class="hero__star"><img src="./img/svg/star-feel.svg"></li>
          </ul>
          <p class="hero__count">4900+</p>
        </div>

      </div>
    </div>
    <div class="hero__image">
      <img
        loading="lazy"
        src="./img/hero.png"
        class="hero__img"
        alt="Image menu"
      />
    </div>
  </div>
</section>
