<section class="feature">
    <div class="feature__contain">
        <h2 class="feature__title vh">feature</h2>
        <ul class="feature__list">
            <li class="feature__item">
                <p class="feature__subtitle">10K+</p>
                <div class="feature__desc">Satisfied Costumers<br>
                    All Great Over The World</div>
            </li>
            <li class="feature__item">
                <p class="feature__subtitle">4M</p>
                <div class="feature__desc">Healthy Dishes Sold<br> Including Milk Shakes Smooth</div>
            </li>
            <li class="feature__item">
                <p class="feature__subtitle">99.99%</p>
                <div class="feature__desc">Reliable Customer Support<br> We Provide Great Experiences
                </div>
            </li>
        </ul>
    </div>
</section>


