<section class="rest">
  <div class="rest__container swiper-container">
    <h2 class="rest__title">Our Top <span>Restaurants</span></h2>
    <div class="swiper-wrapper">
      <!-- Slides -->
      <article class="swiper-slide">
        <img
          loading="lazy"
          src="img/rest-1.png"
          class="rest-img"
          alt="Rest Image"
        />
        <div class="rest__content">
          <div class="rest__body">
            <div class="rest__category rest__category_healthy">Healthy</div>
            <h3 class="rest__subtitle"><a href="">The Chicken King</a></h3>
            <div class="rest__dop">
              <div class="rest__time">24min</div>
              <div class="rest__rating">4.8</div>
            </div>
          </div>
          <div class="rest__label"></div>

        </div>
      </article>
      <article class="swiper-slide">
        <img
          loading="lazy"
          src="img/rest-2.png"
          class="rest-img"
          alt="Rest Image"
        />
        <div class="rest__content">
          <div class="rest__body">
            <div class="rest__category rest__category_trending">Trending</div>
            <h3 class="rest__subtitle"><a href="">The Burger King</a></h3>
            <div class="rest__dop">
              <div class="rest__time">24min</div>
              <div class="rest__rating">4.9</div>
            </div>
          </div>
          <div class="rest__label"></div>
        </div>
      </article>
      <article class="swiper-slide">
        <img
          loading="lazy"
          src="img/rest-1.png"
          class="rest-img"
          alt="Rest Image"
        />
        <div class="rest__content">
          <div class="rest__body">
            <div class="rest__category rest__category_healthy">Healthy</div>
            <h3 class="rest__subtitle"><a href="">The Chicken King</a></h3>
            <div class="rest__dop">
              <div class="rest__time">24min</div>
              <div class="rest__rating">4.8</div>
            </div>
          </div>

          <div class="rest__label"></div>

        </div>
      </article>
    </div>
    <a href="" class="rest__view">View All</a>
  </div>
</section>
