@use "sass:math"; //add for work math functions

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: $fontSize;
  line-height: 1.3;
  font-weight: 500;
  color: $mainColor;
  background-color: #F9F9F9;
}

//create focus-vizible only mobile
.link {
  //color: $mainColor;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $accentColor;
    }
  }

  &:active {
    color: $activeColor;
  }
}
.link.focus-visible {
  outline: 2px solid $activeColor;
  outline-offset: 4px;
}
//

//for modul [headerScroll]
.header._header-scroll {
  padding-top: rem(30);
  background-color: rgba(0, 0, 0, 0.2);
}

//
.conteiner-right {
  padding-left: calc((100% - 1200px)/2 + 15px );
}

/* --------- if isset select,choices --------- */
.choices__item {
  display: flex;
  align-items: center;
  line-height: 1;
}

.choices__item img {
  max-height: 16px;
  max-width: 16px;
  margin-right: 8px;
}

.choices__inner {
  background-color: transparent;
  padding: 7.5px 7.5px 3.75px;
  border: 0px solid transparent;
}

.choices.is-focused.is-open {
}

.choices__list.choices__list--dropdown {
  min-width: 150px;
}

.choices__list {

  font-size: 18px;
}

.choices__list--single .choices__item {
  margin-right: 15px;

}

.undefined {
  padding: 10px;
}
/* --------- - --------- */
